body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    background-color: #f8f8f8;
}
main {
    display: inline-block;
    width: 800px;
    margin-left: calc((100% - 800px) / 2);
}
.header {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

header > .logo {
    float: left;
    height: 50px;
}

.navig {
    float: right;
    margin-top: 5px;
}

a {
    text-decoration: none;
    float: left;
    color: #9e9e9e;
    font-size: 20px;
    line-height: 20px;
    margin-left: 30px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0%;
    border: 2px solid transparent;
    border-radius: 18px;
}

a + a {
    /* margin-left: 5px;*/
}

.sing-in {
    border: 5px solid;
    border-color: #9e9e9e;
    text-transform: uppercase;
    margin-left: 25px;
}

a:hover {
    color: #c0e4ad;
    text-decoration: underline;
}
section {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
}

div {
    display: inline-block;
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    color: #9e9e9e;
    margin-top: 40px;
}

h1 {
    font-size: 80px;
    margin: 0%;
}

p {
    margin: 0%;
    font-size: 30px;
}

section > .girl {
    float: right;
    width: 50%;
}
@media (max-width: 800px) {
    main {
        display: inline-block;
        width: 600px;
        margin-left: calc(50% - 300px);
    }
    section > .conteiner {
        margin-right: 0;
    }
    .navig > .home,
    .track,
    .library,
    .community {
        padding-left: 0%;
    }
    section > .girl {
        width: 55%;
        margin-top: 10%;
    }
}

@media (max-width: 600px) {
    main {
        display: inline-block;
        width: 400px;
        margin-left: calc(50% - 200px);
    }
    .conteiner {
        width: 100%;
    }
    section > .girl {
        width: 100%;
    }
    .navig > .home,
    .track,
    .library,
    .community {
        padding-left: 0%;
    }
    .sing-in {
        margin-top: 8px;
        margin-left: 0%;
    }
}
